:root {
    --innocent:#19c819;
    --special-innocent:#f5c800;
    --traitor:#c81919;
    --special-traitor:#f56a00;
    --detective:#1919c8;
    --special-detective:#28b4c8;
    --jester:#b417fd;
    --independent:#703200;
    --monster:#456100;
}

body {
    margin-top: 15px;
}

.collapsible {
    background-color: #787878;
    border-radius: 20px 0 15px 0; /* The top left corner radius here is slightly larger so the dark background doesn't bleed through */
    margin-bottom: 10px;
    display: inline-block;
}

.collapsible:hover {
    filter: brightness(105%);
}

.header {
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 15px 0 15px 0;
    color: white;
    font-size: 20px;
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    font-weight: bold;
    cursor: pointer;
    padding: 6px 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    text-shadow: 2px 2px 0 black;
}

.content {
    border-radius: 0 0 15px 0;
    background-color: #787878;
    color: white;
    font-size: 16px;
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    padding: 0 10px;
    position: relative;
}

.content > p {
    margin: 10px 0;
}

.expansion {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.expansion > p {
    margin: 6px 0 10px 0;
}

.moreless {
    color: #505050;
    font-size: 12px;
    position: absolute;
    right: 8px;
    bottom: 8px;
    cursor: pointer;
}

.inline-icon {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

a {
    color: inherit;
    font-weight: bold;
}

p {
    width: fit-content;
}

.panel {
    float: left;
}

.navigation {
    width: 220px;
    overflow-y: auto;
}

.contentheader {
    float: none;
    overflow: hidden;
}

.contentbody {
    width: 100%;
}

html {
    background-color: #282828;
    color: white;
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    overflow-y: scroll;
}

li > a {
    font-weight: inherit;
}

ul > li > a {
    font-weight: bold;
}

h1, h2, h3, h4 {
    font-size: 2em;
    background-color: #787878;
    border-radius: 15px 0 15px 0;
    font-weight: bold;
    padding: 6px;
    text-shadow: 2px 2px 0 black;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 0.9em;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a {
    text-decoration: none;
}

h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover {
    text-decoration: underline;
}

table {
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    margin-top: 0;
    margin-bottom: 16px;
    border-spacing: 0;
}

table th {
    font-weight: 600;
}

table th,
table td {
    padding: 6px 13px;
    border: 1px solid #30363d;
}

table tr {
    background-color: #22272e;
}

table tr:nth-child(2n) {
    background-color: #292e35;
}

code {
    padding: .2em .4em;
    margin: 0;
    white-space: break-spaces;
    font-size: 90%;
    background-color: rgba(110, 118, 129, 0.4);
    border-radius: 6px;
}

.hljs {
    white-space: inherit !important;
    font-size: inherit !important;
}

#totop {
    opacity: 50%;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #555555;
    color: white;
    cursor: pointer;
    align-items: center;
    gap: 6px;
    border-radius: 15px 0 15px 0;
    font-size: 20px;
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 12px;
    text-align: left;
    text-shadow: 2px 2px 0 black;
}

#totop:hover {
    opacity: 100%;
}

@media screen and (max-width: 1000px) {
    .panel {
        width: 100%;
    }
}

@media screen and (min-width: 1001px) {
    body {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .contentheader {
        padding-left: 15px;
        :first-child {
            margin-top: 0;
            margin-bottom: 0;
        }

        :last-child {
            margin-bottom: 0;
        }
    }
}

@media screen and (min-width: 221px) {
    .navli {
        float: left;
        padding-right: 24px;
    }
}