@font-face {
  font-family: 'roleicons';
  src:  url('roleicons.eot?vl8l27');
  src:  url('roleicons.eot?vl8l27#iefix') format('embedded-opentype'),
    url('roleicons.ttf?vl8l27') format('truetype'),
    url('roleicons.woff?vl8l27') format('woff'),
    url('roleicons.svg?vl8l27#roleicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'roleicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arsonist:before {
  content: "\e900";
}
.icon-assassin:before {
  content: "\e901";
}
.icon-beggar:before {
  content: "\e902";
}
.icon-bodysnatcher:before {
  content: "\e903";
}
.icon-cannibal:before {
  content: "\e935";
}
.icon-clown:before {
  content: "\e904";
}
.icon-cupid:before {
  content: "\e905";
}
.icon-deputy:before {
  content: "\e906";
}
.icon-detective:before {
  content: "\e907";
}
.icon-doctor:before {
  content: "\e908";
}
.icon-drunk:before {
  content: "\e909";
}
.icon-evil-twin:before {
  content: "\e90a";
}
.icon-glitch:before {
  content: "\e90b";
}
.icon-good-twin:before {
  content: "\e90c";
}
.icon-guesser:before {
  content: "\e90d";
}
.icon-hive-mind:before {
  content: "\e90e";
}
.icon-hypnotist:before {
  content: "\e90f";
}
.icon-illusionist:before {
  content: "\e910";
}
.icon-impersonator:before {
  content: "\e911";
}
.icon-infected:before {
  content: "\e912";
}
.icon-informant:before {
  content: "\e913";
}
.icon-innocent:before {
  content: "\e914";
}
.icon-jester:before {
  content: "\e915";
}
.icon-killer:before {
  content: "\e916";
}
.icon-loot-goblin:before {
  content: "\e917";
}
.icon-mad-scientist:before {
  content: "\e918";
}
.icon-marshal:before {
  content: "\e919";
}
.icon-medium:before {
  content: "\e91a";
}
.icon-mercenary:before {
  content: "\e91b";
}
.icon-old-man:before {
  content: "\e91c";
}
.icon-paladin:before {
  content: "\e91d";
}
.icon-paramedic:before {
  content: "\e91e";
}
.icon-parasite:before {
  content: "\e91f";
}
.icon-phantom:before {
  content: "\e920";
}
.icon-plaguemaster:before {
  content: "\e921";
}
.icon-quack:before {
  content: "\e922";
}
.icon-quartermaster:before {
  content: "\e923";
}
.icon-revenger:before {
  content: "\e924";
}
.icon-sapper:before {
  content: "\e925";
}
.icon-scout:before {
  content: "\e926";
}
.icon-shadow:before {
  content: "\e927";
}
.icon-sponge:before {
  content: "\e928";
}
.icon-spy:before {
  content: "\e929";
}
.icon-summoner:before {
  content: "\e92a";
}
.icon-swapper:before {
  content: "\e92b";
}
.icon-taskmaster:before {
  content: "\e936";
}
.icon-team:before {
  content: "\e92c";
}
.icon-tracker:before {
  content: "\e92d";
}
.icon-traitor:before {
  content: "\e92e";
}
.icon-trickster:before {
  content: "\e92f";
}
.icon-turncoat:before {
  content: "\e930";
}
.icon-vampire:before {
  content: "\e931";
}
.icon-veteran:before {
  content: "\e932";
}
.icon-vindicator:before {
  content: "\e933";
}
.icon-zombie:before {
  content: "\e934";
}
